@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  /* min-width: 500px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  background: linear-gradient(#e66465, #9198e5);
}

button {
  width: 89%;
  height: 45px;
}

.login {
  margin-top: 650px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  color: #222;
  font-family: "source code pro";
  box-shadow: 0px 12px -6px ;
}

.logout {
  margin-bottom: 50px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  color: #222;
  font-family: "source code pro";
  box-shadow: 0px 12px -6px ;
}

@media (min-width: 600px) {
  .container {
    background: #000;
  };
}